@using eTicketSystem.Models.Common
@model PagedResult<Actor>
@{
    ViewData["Title"] = "Actors List";
}
<div class="row">
@using (Html.BeginForm())
{
    <div class="col-md-6">
        Search sTitle: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </div>
    <div class="col-md-6 float-end">
        <a class="btn btn-success" asp-action="Create">
            <i class="bi bi-plus"></i>
            Create
        </a>
    </div>
}
<div class="col-md-12">
<div class="table-responsive-sm">
    <table class="table table-responsive">
        <thead class="table-dark">
            <tr>
                <th style="width:10%;">
                    @Html.ActionLink("Poster", "Index", new { sortField = "ImageURL", currentSortField = ViewBag.SortField, currentSortOrder = ViewBag.SortOrder, currentFilter = ViewBag.CurrentFilter })
                </th>
                <th style="width:20%;">
                    @Html.ActionLink("Name", "Index", new { sortField = "Name", currentSortField = ViewBag.SortField, currentSortOrder = ViewBag.SortOrder, currentFilter = ViewBag.CurrentFilter })
                </th>
                <th style="width:10%;">
                    @Html.ActionLink("Description", "Index", new { sortField = "Description", currentSortField = ViewBag.SortField, currentSortOrder = ViewBag.SortOrder, currentFilter = ViewBag.CurrentFilter })
                </th>
                <th style="width:15%;">
                    @*<a asp-page="./index"
                        asp-route-SortField="StartDate"
                        asp-route-SortDir="@Model.SortDir"
                        asp-route-SortDirNext="@Model.SortDirNext"
                        asp-route-PageSize="@Model.PageSize"
                        asp-route-PageNumber="@Model.PageNumber">
                        Customer ID
                        </a>*@
                    Action
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Results)
            {
                <tr>
                    <td>
                        <img class="rounded-circle grid-img" src="@item.ProfilePic" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Info)
                    </td>
                    <td>
                        <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i>Edit </a> |
                        <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-eye"></i>Details </a> |
                        <a class="btn btn-danger text-white" asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash"></i>Delete </a>
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div></div>
<br />
@if (Model.PageCount > 1)
{
    @for (var p = 1; p <= Model.PageCount; p++)
    {
        <a href="@Url.Action("Index", new { pageNo = p })" class="btn btn-default">@p</a>
    }
}
</div>


